@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Конструктор расписания</h1>
</div>
<div class="row">
    <div class="col-md-5">
        <h2>Добро пожаловать в конструктор расписания</h2>
        <p>
            Это лишь прототип конструктора расписания
        </p>
    </div>
</div>