@model ScheduleConstructor.Models.Group

@{
    ViewData["Title"] = "Details";
}

<h1>Расписание</h1>

<div>
    <h4>Группа @Html.DisplayFor(model => model.Name)</h4>
    <hr />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Subjects)
    </dt>
    <dd class="col-sm-10">
        <table class="table">
            @Html.Partial("SubjectSummary", Model.Subjects)
        </table>
    </dd>
</div>
@*<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>*@
